In [1]:
# -*- coding: utf-8 -*-
import os
import jieba
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation
import logging
logging.basicConfig(level=logging.INFO)

# 对每段截取的不少于500字的文档进行处理，具有分隔句子与分词的函数
class Paragraph:
    def __init__(self, txtname='', content='', sentences=[], words=''):
        self.fromtxt = txtname
        self.content = content
        self.sentences = sentences
        self.words = words
        global punctuation
        self.punctuation = punctuation
        global stopwords
        self.stopwords = stopwords
    # 依据标点符号分隔句子
    def sepSentences(self):
        line = ''
        sentences = []
        for w in self.content:
            if w in self.punctuation and line != '\n':
                if line.strip() != '':
                    sentences.append(line.strip())
                    line = ''
            elif w not in self.punctuation:
                line += w
        self.sentences = sentences
    
    # 使用停用词分词
    def sepWords(self):
        words = []

        for i in range(len(self.sentences)):
            words.extend([x for x in jieba.cut(
                self.sentences[i]) if x not in self.stopwords])

        reswords = ' '.join(words)
        self.words = reswords

    def processData(self):
        self.sepSentences()
        self.sepWords()

# 总共三部小说，对每部小说，取不少于100字的段落100段，保存到DataExcel中的data.xlsx文件
def txt_convert_2_excel(file_path, data_path, K=3):
    files = os.listdir(file_path)    
    txt = []
    txtname = []
    n = 80 # 取不少于200字的段落80段
 
    for file in files:
        filename = os.path.join(file_path, file)
        with open(filename, 'r', encoding='utf-8') as f:
            full_txt = f.readlines()
            lenth_lines = len(full_txt)
            i = 2
            for j in range(n):
                txt_j = ''
                while(len(txt_j) <200):
                    txt_j += full_txt[i]
                    i += 1
                txt.append(txt_j)
                txtname.append(file.split('.')[0])
                #i += int(lenth_lines / (3 * n))

    dic = {'Content': txt, 'Txtname': txtname}
    df = pd.DataFrame(dic)
    out_path = data_path+'\\data.xlsx'
    df.to_excel(out_path, index=False)

    return out_path


def segment(path):
    data_list = []
    data_all = pd.read_excel(path)
    for i in range(len(data_all['Content'])):
        d = Paragraph()
        d.content = data_all['Content'][i]
        d.fromtxt = data_all['Txtname'][i]
        d.processData()
        data_list.append(d.words)
    return data_list


def read_punctuation_list(path):
    punctuation = [line.strip()
                   for line in open(path, encoding='UTF-8').readlines()]
    punctuation.extend(['\n', '\u3000', '\u0020', '\u00A0'])
    return punctuation


def read_stopwords_list(path):
    stopwords = [line.strip()
                 for line in open(path, encoding='UTF-8').readlines()]
    return stopwords


def print_top_words(model, feature_names, n_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print("Topic #%d:" % topic_idx)
        print(" ".join([feature_names[i]
                        for i in topic.argsort()[:-n_top_words - 1:-1]]))

In [2]:
file_dir_path = '.\\Corpus'
data_dir_path = '.\\DataExcel'
stopwords_path = '.\\StopWord\\cn_stopwords.txt'
punctuation_path = '.\\StopWord\\cn_punctuation.txt'
user_dict_path = '.\\StopWord\\新闻词库.txt'

# 读取文件
global stopwords
stopwords = read_stopwords_list(stopwords_path)
global punctuation
punctuation = read_punctuation_list(punctuation_path)
# 在结巴用户字典中添加三体词库
jieba.load_userdict(user_dict_path) 
print('\u3000', '\u0020', '\u00A0')
print([w for w in jieba.cut('中国共产党第二十次全国代表大会')])

Building prefix dict from the default dictionary ...
DEBUG:jieba:Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\LEGION~1\AppData\Local\Temp\jieba.cache
DEBUG:jieba:Loading model from cache C:\Users\LEGION~1\AppData\Local\Temp\jieba.cache
Loading model cost 0.756 seconds.
DEBUG:jieba:Loading model cost 0.756 seconds.
Prefix dict has been built successfully.
DEBUG:jieba:Prefix dict has been built successfully.

['中国共产党', '第二十次', '全国代表大会']

In [3]:
excel_path = txt_convert_2_excel(file_dir_path, data_dir_path)
# 得到分词好的训练预料
corpus = segment(excel_path)
print(corpus[-1])

两岸同胞 血脉相连 血浓于水 一家人 始终 尊重 关爱 造福 台湾同胞 继续 致力于 促进 两岸经济 文化 交流合作 深化 两岸 领域 融合 发展 完善 增进 台湾同胞 福祉 制度 政策 推动 两岸 共同 弘扬 中华文化 促进 两岸同胞 心灵 契合 台湾 中国 台湾 解决 台湾问题 中国 事 中国 人来 决定 坚持 最大 诚意 最大 努力争取 和平统一 前景 决不 承诺 放弃 使用 武力 保留 采取 必要措施 选项 外部 势力 干涉 极少数 台独 分裂 分子 分裂 活动 绝非 广大 台湾同胞 国家统一 民族复兴 历史 车轮 滚滚向前 祖国 完全 统一 一定 实现 一定 能够 实现

In [4]:
# LDA
logging.info('Training count vectorizer...')
cntVector = CountVectorizer(max_features=1000, max_df=0.2)
cntTf = cntVector.fit_transform(corpus)

print(cntVector.vocabulary_)
print(sorted(cntVector.vocabulary_.items(), key=lambda item:item[1])[-100:])

print('\n词袋矩阵的尺寸：',cntTf.shape)

INFO:root:Training count vectorizer...

{'同志': 324, '现在': 725, '代表': 102, '大会': 390, '中国共产党': 38, '进入': 938, '召开': 309, '十分': 281, '重要': 954, '主题': 63, '邓小平理论': 947, '三个代表': 11, '思想': 497, '科学发展观': 796, '指导': 540, '解放思想': 895, '改革开放': 565, '凝聚': 228, '力量': 259, '坚定不移': 357, '中国特色社会主义道路': 50, '前进': 257, '共同': 198, '艰苦奋斗': 874, '团结': 335, '带领': 448, '全国各族人民': 173, '中国': 37, '日益': 611, '走向': 919, '中华民族伟大复兴': 35, '展现出': 435, '前景': 256, '党和人民': 161, '创造': 245, '历史': 290, '倍加': 149, '确立': 766, '理想信念': 729, '坚定': 356, '责任': 908, '清醒': 699, '当前': 485, '继续': 844, '发生': 305, '深刻': 694, '变化': 307, '面临': 976, '风险': 986, '挑战': 541, '前所未有': 255, '全党': 169, '一定': 3, '牢记': 710, '工作': 438, '完成': 406, '时代': 613, '赋予': 917, '艰巨': 873, '任务': 107, '过去': 927, '五年': 72, '十年': 283, '基本': 369, '总结': 502, '十七大': 279, '经受': 832, '困难': 337, '考验': 858, '夺取': 395, '全面建设小康社会': 186, '胜利': 862, '推进改革': 550, '开放': 473, '社会主义现代化建设': 778, '宏伟目标': 408, '作出': 128, '贯彻': 911, '精神': 825, '中央': 51, '改进': 562, '新形势下': 600, '党的建设': 165, '制定': 249, '规划': 889, '文化': 586, '改革': 563, '实施': 415, '方面': 609, '取得': 306, '重大成就': 950, '综合国力': 850, '大幅': 392, '提升': 553, '一年': 5, '达到': 926, '亿元': 99, '增加': 381, '新进展': 605, '基础设施': 379, '城镇化': 364, '水平': 673, '明显提高': 618, '城乡': 362, '成效显著': 514, '生态文明建设': 739, '扎实': 523, '资源': 916, '节约': 875, '重大进展': 951, '非公有制经济': 975, '健康发展': 153, '金融': 956, '科技': 798, '教育': 580, '社会保障': 781, '事业单位': 69, '稳步': 811, '世界': 16, '第二位': 822, '显著': 621, '改善民生': 561, '力度': 258, '加大': 262, '就业': 429, '持续': 539, '扩大': 529, '居民收入': 434, '增长': 383, '稳定': 808, '条件': 651, '明显改善': 619, '标准': 653, '农村': 221, '迈出': 930, '步伐': 660, '政治体制改革': 572, '实行': 419, '人大代表': 84, '基层民主': 368, '巩固': 442, '壮大': 384, '行政体制改革': 884, '工作机制': 439, '文化建设': 590, '社会主义核心价值体系': 773, '深入开展': 692, '文化体制改革': 589, '创作': 237, '生产': 734, '繁荣': 829, '精神文化生活': 826, '社会建设': 783, '进步': 939, '事业': 68, '基本养老保险': 371, '建立': 465, '新型': 598, '社会救助体系': 785, '全民': 177, '创新': 239, '社会管理': 789, '社会': 767, '保持': 140, '和谐': 330, '国防和军队建设': 345, '局面': 431, '军事斗争准备': 216, '履行': 436, '新世纪': 595, '阶段': 967, '历史使命': 291, '一系列': 9, '进一步': 936, '香港': 988, '澳门': 703, '内地': 212, '交流合作': 73, '两岸': 20, '直接': 753, '格局': 657, '开创': 470, '两岸关系和平发展': 22, '新局面': 599, '成就': 512, '维护': 845, '公民': 196, '合法权益': 321, '各国': 316, '积极': 802, '世界和平与发展': 17, '理论': 730, '成效': 513, '明显': 616, '学习': 403, '实践': 420, '活动': 688, '成果': 515, '党内民主': 159, '人才': 85, '党组织': 167, '深入': 691, '进行': 940, '基层': 367, '反腐败斗争': 297, '看到': 756, '存在': 402, '不足': 14, '道路': 945, '不少': 13, '问题': 961, '主要': 62, '协调': 287, '依然': 136, '突出': 813, '创新能力': 243, '制约': 253, '科学发展': 795, '深化改革开放': 695, '区域发展': 276, '居民': 433, '收入分配差距': 558, '较大': 925, '医疗': 277, '生态环境': 740, '司法': 315, '群众': 856, '生活': 743, '领域': 984, '诚信': 900, '现象': 727, '干部': 452, '领导': 985, '动摇': 267, '意识': 506, '形式主义': 488, '官僚主义': 410, '严重': 28, '形势': 486, '严峻': 25, '重要战略机遇期': 955, '战胜': 522, '重大': 949, '奋力': 396, '中国特色社会主义': 44, '加快发展': 263, '动力': 266, '过程': 928, '疫情': 747, '准确': 227, '把握': 531, '提出': 552, '经济社会发展': 838, '空间': 812, '科学': 794, '决策': 224, '采取': 948, '举措': 64, '全球': 179, '经济': 833, '积累': 804, '成功': 511, '国际地位': 349, '彰显': 489, '强大': 481, '生命力': 736, '历史性': 292, '全面建成小康社会': 185, '跃升': 921, '经济实力': 836, '科技实力': 800, '迈上': 929, '台阶': 314, '国际影响力': 350, '面貌': 981, '这是': 935, '民主': 665, '时期': 615, '着力': 758, '保障和改善民生': 144, '得到': 491, '正确': 659, '新中国成立': 596, '特别': 713, '基础': 377, '团结奋斗': 336, '民主党派': 666, '人民团体': 90, '台湾同胞': 311, '广大': 456, '关心': 204, '支持': 555, '朋友': 637, '奋斗': 397, '马克思列宁主义': 991, '毛泽东思想': 663, '勇于': 273, '理论创新': 731, '围绕': 338, '坚持和发展中国特色社会主义': 361, '相互': 754, '贯通': 914, '马克思主义': 989, '当代中国': 484, '实际': 421, '相结合': 755, '回答': 334, '认识': 897, '开辟': 474, '中国特色社会主义理论体系': 48, '智慧': 623, '党和国家': 162, '一道': 10, '长期': 958, '面向未来': 979, '深入贯彻落实科学发展观': 693, '具有': 210, '现代化建设': 722, '全过程': 181, '体现': 126, '自觉': 869, '第一': 820, '牢牢': 709, '科教兴国战略': 801, '体制机制': 124, '牢固': 708, '核心': 655, '立场': 816, '始终': 400, '最广大人民根本利益': 629, '尊重': 428, '保障': 142, '各项': 319, '权益': 649, '全面落实': 190, '经济建设': 837, '政治建设': 575, '生活富裕': 744, '根本': 656, '出发': 230, '统筹': 843, '改革发展稳定': 564, '国内': 339, '对外开放': 424, '利益': 248, '关系': 206, '努力': 268, '与时俱进': 15, '鲜明': 998, '真理': 757, '变革': 308, '探索': 546, '活力': 687, '创造性': 246, '更为': 625, '近代': 933, '中华民族': 34, '未来': 641, '实现中华民族伟大复兴': 416, '民族': 669, '命运': 327, '民族复兴': 671, '结合': 839, '起来': 920, '付出': 101, '伟大': 115, '经历': 831, '提供': 551, '物质基础': 712, '社会主义': 768, '建设中国特色社会主义': 467, '出现': 231, '目标': 752, '分配制度': 234, '世纪': 18, '党中央': 157, '构建': 652, '促进社会公平正义': 138, '封闭': 426, '僵化': 154, '老路': 857, '中国特色社会主义制度': 45, '以经济建设为中心': 105, '社会主义民主政治': 775, '社会主义先进文化': 769, '实现全体人民共同富裕': 417, '人民代表大会制度': 88, '中国共产党领导的多党合作和政治协商制度': 40, '基本经济制度': 376, '体制': 123, '具体': 209, '途径': 942, '统一': 841, '中国特色': 42, '全新': 175, '视野': 893, '理论和实践': 732, '系统': 827, '快速': 495, '方向': 606, '准备': 226, '特点': 716, '斗争': 594, '毫不动摇': 664, '以下': 103, '成为': 510, '广泛': 457, '组织': 830, '依法': 133, '管理': 823, '文化事业': 587, '更好': 627, '治国理政': 677, '科技创新': 799, '共同奋斗': 200, '内容': 213, '营造': 876, '公平': 193, '环境': 718, '保证': 141, '共同富裕': 201, '调整': 902, '分配': 233, '调节': 903, '解决': 894, '惠及': 505, '放在': 567, '位置': 120, '最大': 628, '确保': 764, '坚持党的领导': 360, '执政为民': 528, '改善': 560, '党的领导': 166, '凝聚力': 229, '战斗力': 518, '没有': 676, '矛盾': 759, '这一': 934, '社会主要矛盾': 779, '发展中国家': 298, '社会主义初级阶段': 770, '立足': 818, '两个': 19, '懈怠': 509, '成立': 516, '一百年': 8, '建成': 464, '道路自信': 946, '理论自信': 733, '制度自信': 252, '国际': 348, '应对': 459, '赢得': 918, '主动': 57, '优势': 111, '努力实现': 269, '要求': 886, '明显增强': 617, '创新型国家': 240, '信息化': 147, '农业现代化': 220, '进一步提高': 937, '人民民主': 94, '丰富': 53, '发挥': 304, '法治政府': 684, '人权': 87, '切实': 235, '文明': 592, '社会文明程度': 786, '产品': 77, '文化产业': 588, '更大': 626, '坚实': 358, '全面提高': 188, '基本公共服务均等化': 370, '总体': 500, '现代化': 721, '充分': 155, '中等收入群体': 52, '覆盖': 888, '人人': 80, '享有': 78, '社会和谐稳定': 782, '总量': 503, '生态系统': 742, '稳定性': 809, '政治': 571, '坚决': 354, '破除': 763, '妨碍': 399, '体制机制弊端': 125, '运行': 932, '有效': 634, '主体': 56, '方式': 607, '制度化': 250, '规范化': 892, '程序化': 806, '法治化': 682, '有利于': 631, '公共服务': 191, '有序': 632, '生态文明': 738, '国土': 340, '开发': 471, '生态环境保护': 741, '新格局': 604, '全党同志': 171, '地区': 352, '鼓励': 999, '地方': 353, '前列': 254, '全国': 172, '贡献': 906, '加快转变经济发展方式': 264, '兴国': 208, '本质要求': 643, '适应': 941, '效益': 578, '激发': 705, '各类': 317, '现代': 719, '产业': 74, '培育': 366, '经济发展': 835, '依靠': 137, '消费': 689, '需求': 972, '现代服务业': 724, '战略性新兴产业': 521, '带动': 447, '经济体制改革': 834, '关键': 207, '政府': 570, '市场': 444, '推行': 549, '形式': 487, '国家安全': 341, '引导': 475, '平等': 454, '使用': 132, '法律': 680, '保护': 139, '政策': 576, '实体经济': 413, '竞争力': 819, '创新驱动发展战略': 244, '战略': 519, '支撑': 556, '摆在': 554, '注重': 686, '企业': 108, '导向': 425, '强化': 479, '基础研究': 378, '研究': 761, '突破': 815, '技术': 530, '转化': 923, '机制': 645, '优化': 112, '产业结构': 75, '重点': 952, '投资': 533, '合理': 322, '规模': 890, '服务业': 639, '发展壮大': 300, '保障体系': 143, '运用': 931, '充分发挥': 156, '优先': 109, '大力': 391, '民族地区': 670, '贫困地区': 910, '布局': 445, '人口': 81, '集聚': 971, '功能': 261, '全覆盖': 180, '农业': 219, '农民': 222, '方针': 608, '现代农业': 720, '粮食安全': 824, '合作': 320, '一体化': 0, '转变': 924, '拓展': 537, '深度': 697, '引领': 476, '区域': 275, '贸易': 915, '质量': 909, '服务': 638, '有机': 635, '一批': 6, '中国特色社会主义政治发展道路': 46, '生命': 735, '稳妥': 807, '人民当家作主': 92, '依法治国': 134, '有机统一': 636, '建设社会主义法治国家': 469, '治理': 679, '民主决策': 667, '民主监督': 668, '法治': 681, '作用': 130, '尊严': 427, '权威': 648, '自由': 867, '制度建设': 251, '人类': 97, '行使': 881, '权力': 647, '善于': 332, '主张': 60, '人大': 83, '常委会': 449, '立法': 817, '监督': 749, '决定': 223, '比例': 661, '降低': 968, '设立': 899, '人员': 82, '社会主义协商民主': 771, '协商民主': 286, '渠道': 700, '人民政协': 93, '政治协商': 574, '协商': 285, '拓宽': 536, '工人阶级': 437, '参与': 295, '协同': 284, '全面推进依法治国': 187, '科学立法': 797, '严格执法': 27, '公正司法': 195, '全民守法': 178, '重点领域': 953, '依法行政': 135, '严格': 26, '规范': 891, '公正': 194, '弘扬': 477, '树立': 654, '宪法': 422, '个人': 29, '特权': 715, '必然要求': 494, '职能': 859, '高效': 993, '人民满意': 95, '良好': 872, '优质': 114, '职责': 860, '行政': 883, '监督权': 750, '程序': 805, '建立健全': 466, '损害': 543, '防止': 964, '统一战线': 842, '爱国主义': 707, '旗帜': 610, '同心': 323, '行动': 882, '队伍': 962, '优秀': 113, '各级': 318, '贯彻落实': 912, '落实': 877, '祖国': 792, '和平': 328, '扎实推进': 524, '社会主义文化': 772, '国家文化软实力': 343, '建设社会主义文化强国': 468, '为人民服务': 55, '原则': 294, '面向': 977, '面向世界': 978, '发扬': 303, '马克思主义中国化': 990, '时代化': 614, '哲学社会科学': 331, '广泛开展': 458, '倡导': 150, '爱国': 706, '践行': 922, '社会主义核心价值观': 774, '掌握': 544, '意识形态工作': 508, '主导权': 59, '舆论': 871, '家庭': 423, '劳动': 270, '突出问题': 814, '思想政治工作': 498, '自信': 865, '常态': 450, '健康': 152, '以人民为中心': 104, '传承': 118, '中华优秀传统文化': 30, '开展': 472, '网络': 854, '抵制': 534, '普及': 622, '全面发展': 183, '社会效益': 784, '工程': 440, '效能': 579, '融合': 879, '传播': 119, '高素质': 996, '造就': 943, '高度': 992, '文化自信': 591, '公共服务体系': 192, '现实': 726, '住有所居': 122, '党委': 164, '主导': 58, '源头': 701, '应急': 460, '办好': 260, '全面实施': 184, '培养': 365, '高等教育': 995, '高质量': 997, '民生': 672, '劳动者': 271, '创业': 236, '多渠道': 389, '做好': 151, '青年': 974, '服务体系': 640, '同步': 325, '比重': 662, '要素': 887, '机关': 644, '收入': 557, '多层次': 388, '社会保险': 780, '确定': 765, '安全': 404, '满足': 702, '基本国策': 372, '预防为主': 983, '监管': 751, '综合': 849, '医疗卫生': 278, '城市': 363, '人才队伍': 86, '社会组织': 790, '权益保障': 650, '遏制': 944, '使命': 131, '防范': 966, '分裂': 232, '全党全国': 170, '共享': 197, '长远': 960, '大计': 393, '面对': 980, '理念': 728, '地位': 351, '融入': 878, '自然': 866, '恢复': 504, '为主': 54, '绿色发展': 853, '生活方式': 745, '控制': 547, '强度': 482, '宜居': 412, '生态': 737, '修复': 148, '利用': 247, '能源': 863, '低碳': 121, '综合治理': 851, '价值': 106, '国防和军队现代化': 346, '发展利益': 299, '军队': 218, '国防和军队现代化建设': 347, '军事力量': 215, '军事': 214, '人民军队': 89, '加速': 265, '革命': 982, '维护国家主权': 847, '维护世界和平': 846, '增进': 382, '一国两制': 1, '祖国统一': 793, '长期繁荣稳定': 959, '基本法': 375, '发展经济': 301, '外部': 387, '势力': 272, '特别行政区': 714, '台湾问题': 312, '实现祖国完全统一': 418, '历史进程': 293, '和平统一': 329, '两岸关系': 21, '台湾': 310, '改变': 559, '反对': 296, '台独': 313, '九二共识': 66, '政党': 568, '认同': 896, '共同利益': 199, '希望': 446, '安排': 405, '局势': 430, '两岸同胞': 23, '关爱': 205, '事情': 70, '必然': 493, '中华儿女': 31, '复杂': 386, '仍然': 100, '全方位': 176, '影响': 490, '有所': 633, '发展道路': 302, '谋求': 904, '致力于': 870, '姿态': 401, '积极参与': 803, '永远': 674, '政协': 569, '夯实': 394, '社会主义现代化': 776, '幸福': 455, '居安思危': 432, '执政': 527, '危险': 289, '课题': 901, '信仰': 145, '抓好': 532, '创建': 238, '教育引导': 581, '党员': 160, '最高': 630, '强烈': 483, '整治': 585, '中国特色社会主义进入新时代': 49, '决胜全面建成小康社会': 225, '中国共产党人': 39, '激励': 704, '人民对美好生活的向往': 91, '奋斗目标': 398, '十八大': 280, '全面深化改革': 189, '五位一体': 71, '总体布局': 501, '四个全面': 333, '战略布局': 520, '稳居': 810, '一带一路': 4, '整体性': 584, '推出': 548, '国家治理体系和治理能力现代化': 344, '法治国家': 683, '法治社会': 685, '中国特色社会主义法治体系': 47, '意识形态': 507, '一大批': 2, '脱贫': 864, '状况': 717, '备战': 385, '治权': 678, '中国特色大国外交': 43, '共建': 202, '人类命运共同体': 98, '塑造': 380, '坚强': 359, '党内': 158, '态势': 496, '已经': 443, '深层次': 696, '巨大': 441, '担当': 535, '难题': 969, '党和国家事业': 163, '消除': 690, '短板': 760, '养老': 211, '全面依法治国': 182, '需要': 973, '飞跃': 987, '新时代': 602, '美好生活': 855, '物质': 711, '日益增长': 612, '主心骨': 61, '中华文明': 33, '谱写': 905, '社会稳定': 788, '敢于': 582, '错误': 957, '攻克': 566, '信心': 146, '梦想': 658, '行为': 880, '破坏': 762, '伟大工程': 117, '伟大事业': 116, '新时代中国特色社会主义思想': 603, '基本方略': 374, '宗教': 409, '明确': 620, '全体人民共同富裕': 168, '一流': 7, '绿色': 852, '创新性': 241, '平安中国': 453, '社会治理': 787, '十四': 282, '社会主义现代化国家': 777, '新征程': 601, '建党': 462, '基本实现现代化': 373, '化解': 274, '第二个': 821, '百年': 748, '本世纪': 642, '中叶': 36, '三五年': 12, '中华文化': 32, '强国': 480, '新发展理念': 597, '现代化经济体系': 723, '高水平': 994, '优先发展': 110, '政策体系': 577, '衔接': 885, '乡村': 67, '协调发展': 288, '财政': 907, '底线': 461, '政治制度': 573, '人民群众': 96, '结构': 840, '完整': 407, '贯穿': 913, '机构': 646, '联系': 861, '坚守': 355, '文艺': 593, '讴歌': 898, '体育': 127, '定位': 411, '整体': 583, '生育': 746, '打造': 526, '共治': 203, '智能化': 624, '社区': 791, '维护国家安全': 848, '严密': 24, '人与自然和谐共生': 79, '清洁': 698, '循环': 492, '防治': 965, '打赢': 525, '污染': 675, '排放': 545, '强军': 478, '作战': 129, '军人': 217, '实战': 414, '战争': 517, '集中统一领导': 970, '周年': 326, '防控': 963, '干涉': 451, '创新理论': 242, '拥有': 538, '中国式': 41, '全局性': 174, '自立自强': 868, '系统性': 828, '建军': 463, '产业链': 76, '之问': 65, '思维': 499, '振兴': 542, '国家战略': 342}
[('诚信', 900), ('课题', 901), ('调整', 902), ('调节', 903), ('谋求', 904), ('谱写', 905), ('贡献', 906), ('财政', 907), ('责任', 908), ('质量', 909), ('贫困地区', 910), ('贯彻', 911), ('贯彻落实', 912), ('贯穿', 913), ('贯通', 914), ('贸易', 915), ('资源', 916), ('赋予', 917), ('赢得', 918), ('走向', 919), ('起来', 920), ('跃升', 921), ('践行', 922), ('转化', 923), ('转变', 924), ('较大', 925), ('达到', 926), ('过去', 927), ('过程', 928), ('迈上', 929), ('迈出', 930), ('运用', 931), ('运行', 932), ('近代', 933), ('这一', 934), ('这是', 935), ('进一步', 936), ('进一步提高', 937), ('进入', 938), ('进步', 939), ('进行', 940), ('适应', 941), ('途径', 942), ('造就', 943), ('遏制', 944), ('道路', 945), ('道路自信', 946), ('邓小平理论', 947), ('采取', 948), ('重大', 949), ('重大成就', 950), ('重大进展', 951), ('重点', 952), ('重点领域', 953), ('重要', 954), ('重要战略机遇期', 955), ('金融', 956), ('错误', 957), ('长期', 958), ('长期繁荣稳定', 959), ('长远', 960), ('问题', 961), ('队伍', 962), ('防控', 963), ('防止', 964), ('防治', 965), ('防范', 966), ('阶段', 967), ('降低', 968), ('难题', 969), ('集中统一领导', 970), ('集聚', 971), ('需求', 972), ('需要', 973), ('青年', 974), ('非公有制经济', 975), ('面临', 976), ('面向', 977), ('面向世界', 978), ('面向未来', 979), ('面对', 980), ('面貌', 981), ('革命', 982), ('预防为主', 983), ('领域', 984), ('领导', 985), ('风险', 986), ('飞跃', 987), ('香港', 988), ('马克思主义', 989), ('马克思主义中国化', 990), ('马克思列宁主义', 991), ('高度', 992), ('高效', 993), ('高水平', 994), ('高等教育', 995), ('高素质', 996), ('高质量', 997), ('鲜明', 998), ('鼓励', 999)]

词袋矩阵的尺寸： (240, 1000)

In [5]:
logging.info('Training LDA model...')
lda = LatentDirichletAllocation(n_components=10,  max_iter=1000, random_state=2022)
docres = lda.fit_transform(cntTf)

# 查看LDA结果
feature_names = cntVector.get_feature_names()
print_top_words(lda, feature_names, 10)

INFO:root:Training LDA model...

Topic #0:
健康 社会 农村 农民 工作 人才 问题 实施 强化 引导
Topic #1:
中国 人类 重要 国家安全 社会主义核心价值观 马克思主义 思想 中国共产党 全国各族人民 文化自信
Topic #2:
保证 依法 发挥 重要 宪法 支持 法治 依法治国 工作 人大
Topic #3:
历史 实践 时代 新时代 中国 全党 中国特色社会主义 理论 伟大 始终
Topic #4:
文化 香港 实施 安全 澳门 科技 坚定 创新 一国两制 战略
Topic #5:
就业 教育 分配 解决 问题 鼓励 基本 机制 持续 居民收入
Topic #6:
基本 取得 世界 建成 水平 基础 强国 得到 大幅 生活
Topic #7:
保护 构建 优化 实施 生态 环境 建立 资源 绿色 节约
Topic #8:
建立 保障 基层 开放 统筹 优化 社会 创新 区域 基本
Topic #9:
问题 五年 不少 存在 面临 共同 一系列 工作 取得 解决

d:\ANACONDA\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [6]:
excel_path_18 = txt_convert_2_excel('.\\18', '.\\DataExcel_18')
corpus_18 = segment(excel_path_18)
print(corpus_18[-1])

三 积极 发展 党内民主 增强 党 创造 活力 党内民主 党 生命 坚持民主集中制 健全 党内民主制度体系 党内民主 带动 人民民主 保障 党员主体地位 健全 党员 民主权利 保障制度 开展 批评和自我批评 营造 党内民主 平等 同志 关系 民主讨论 政治氛围 民主监督的制度环境 落实 党员 知情权 参与权 选举权 监督权 完善 党的代表大会制度 提高 工人 农民 代表 比例 落实 完善 党 代表大会代表任期制 试行 乡镇党代会年会制 深化 县 市 区 党代会 常任制 试点 实行 党代会代表提案制 完善 党内选举制度 规范 差额提名 差额选举 形成 充分体现 选举人 意志 程序 环境 强化 全委会 决策 监督 作用 完善 常委会 议事规则 决策程序 完善 地方党委 讨论 决定 重大 问题 任用重要干部票决制 扩大 党内基层民主 完善 党员 定期 评议 基层党组织领导班子 制度 推行 党员 旁听 基层 党委 会议 党代会 代表 列席 同级 党委 会议 做法 增强 党内生活 原则性 透明度

In [7]:
# LDA
logging.info('Testing_18 count vectorizer...')
cntTf_18 = cntVector.transform(corpus_18)

INFO:root:Testing_18 count vectorizer...

In [8]:
import numpy as np	
# 构建文档-词频矩阵	
lda_output = lda.transform(cntTf_18)
# 列名	
topicnames = ["Topic" + str(i) 	
              for i in range(lda.n_components)]	
# 行索引名	
docnames = ["Doc" + str(i) 	
            for i in range(len(corpus_18))]	
# 转化为pd.DataFrame	
df_document_topic = pd.DataFrame(np.round(lda_output, 2), 	
                                 columns=topicnames,
                                 index=docnames)	
# Get dominant topic for each document	
dominant_topic = np.argmax(df_document_topic.values, axis=1)	
df_document_topic['dominant_topic'] = dominant_topic	
	
def make_bold(val):	
    weight = 700 if val > .5 else 400	
    return 'font-weight: {weight}'.format(weight=weight)	
# Apply Style	
df_document_topics = df_document_topic.style.applymap(make_bold)	
df_document_topics

In [9]:
df_topic_distribution = df_document_topic['dominant_topic'].value_counts().reset_index(name="Num Documents")	
df_topic_distribution.columns = ['Topic Num', 'Num Documents']	
df_topic_distribution

   Topic Num  Num Documents
0          3             12
1          2              9
2          4              9
3          9              9
4          6              8
5          7              8
6          0              7
7          5              7
8          8              7
9          1              4

In [10]:
excel_path_19 = txt_convert_2_excel('.\\19', '.\\DataExcel_19')
# 得到分词好的训练预料
corpus_19 = segment(excel_path_19)
print(corpus_19[-1])
# LDA
cntTf_19 = cntVector.transform(corpus_19)

军队 准备 打仗 工作 必须 坚持战斗力标准 打仗 打胜仗 聚焦 扎实 做好 战略 方向 军事斗争准备 统筹 推进 传统安全 领域 新型 安全 领域 军事斗争准备 发展 新型 作战 力量 保障 力量 开展 实战 化 军事训练 加强 军事力量 运用 加快 军事 智能化 发展 提高 网络信息 体系 联合作战 能力 全域 作战 能力 有效 塑造 态势 管控 危机 遏制 战争 打赢 战争 坚持 富国和强军相统一 强化 统一 领导 顶层设计 改革创新 重大项目 落实 深化 国防科技工业 改革 形成 军民融合深度发展 格局 构建 一体化 国家战略体系和能力 完善 国防动员体系 建设 强大 稳固 现代 边海 空防 组建 退役军人 管理 保障 机构 维护 军人 军属 合法权益 军人 成为 全 社会 尊崇 职业 深化 武警部队 改革 建设现代化武装警察部队

In [11]:
# 构建文档-词频矩阵	
lda_output = lda.transform(cntTf_19)
# 列名	
topicnames = ["Topic" + str(i) 	
              for i in range(lda.n_components)]	
# 行索引名	
docnames = ["Doc" + str(i) 	
            for i in range(len(corpus_19))]	
# 转化为pd.DataFrame	
df_document_topic = pd.DataFrame(np.round(lda_output, 2), 	
                                 columns=topicnames,
                                 index=docnames)	
# Get dominant topic for each document	
dominant_topic = np.argmax(df_document_topic.values, axis=1)	
df_document_topic['dominant_topic'] = dominant_topic	
	
def make_bold(val):	
    weight = 700 if val > .5 else 400	
    return 'font-weight: {weight}'.format(weight=weight)	
# Apply Style	
df_document_topics = df_document_topic.style.applymap(make_bold)	
df_document_topics

In [12]:
df_topic_distribution = df_document_topic['dominant_topic'].value_counts().reset_index(name="Num Documents")	
df_topic_distribution.columns = ['Topic Num', 'Num Documents']	
df_topic_distribution

   Topic Num  Num Documents
0          3             17
1          1             11
2          0              9
3          6              9
4          4              8
5          9              8
6          7              7
7          2              6
8          8              3
9          5              2

In [13]:
excel_path_20 = txt_convert_2_excel('.\\20', '.\\DataExcel_20')
# 得到分词好的训练预料
corpus_20 = segment(excel_path_20)
print(corpus_20[-1])
# LDA
cntTf_20 = cntVector.transform(corpus_20)

两岸同胞 血脉相连 血浓于水 一家人 始终 尊重 关爱 造福 台湾同胞 继续 致力于 促进 两岸经济 文化 交流合作 深化 两岸 领域 融合 发展 完善 增进 台湾同胞 福祉 制度 政策 推动 两岸 共同 弘扬 中华文化 促进 两岸同胞 心灵 契合 台湾 中国 台湾 解决 台湾问题 中国 事 中国 人来 决定 坚持 最大 诚意 最大 努力争取 和平统一 前景 决不 承诺 放弃 使用 武力 保留 采取 必要措施 选项 外部 势力 干涉 极少数 台独 分裂 分子 分裂 活动 绝非 广大 台湾同胞 国家统一 民族复兴 历史 车轮 滚滚向前 祖国 完全 统一 一定 实现 一定 能够 实现

In [14]:
# 构建文档-词频矩阵	
lda_output = lda.transform(cntTf_20)
# 列名	
topicnames = ["Topic" + str(i) 	
              for i in range(lda.n_components)]	
# 行索引名	
docnames = ["Doc" + str(i) 	
            for i in range(len(corpus_20))]	
# 转化为pd.DataFrame	
df_document_topic = pd.DataFrame(np.round(lda_output, 2), 	
                                 columns=topicnames,
                                 index=docnames)	
# Get dominant topic for each document	
dominant_topic = np.argmax(df_document_topic.values, axis=1)	
df_document_topic['dominant_topic'] = dominant_topic	
	
def make_bold(val):	
    weight = 700 if val > .5 else 400	
    return 'font-weight: {weight}'.format(weight=weight)	
# Apply Style	
df_document_topics = df_document_topic.style.applymap(make_bold)	
df_document_topics

In [15]:
df_topic_distribution = df_document_topic['dominant_topic'].value_counts().reset_index(name="Num Documents")	
df_topic_distribution.columns = ['Topic Num', 'Num Documents']	
df_topic_distribution

   Topic Num  Num Documents
0          3             15
1          1             12
2          4             10
3          0              8
4          6              8
5          7              7
6          9              7
7          8              6
8          2              5
9          5              2

In [16]:
import pyLDAvis
import pyLDAvis.sklearn

In [17]:
pyLDAvis.enable_notebook()
pic = pyLDAvis.sklearn.prepare(lda,cntTf,cntVector)
pyLDAvis.save_html(pic,'1.html')
pyLDAvis.show(pic)

d:\ANACONDA\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
d:\ANACONDA\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
INFO:numexpr.utils:Note: NumExpr detected 16 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.

OSError: [Errno 22] Invalid argument: 'https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.3.1/pyLDAvis/js/ldavis.v1.0.0.css'